body {
    font-size: 16px;
    color: rgb(134, 130, 130);
}


/*********               HEADER                 *********/
#header-nav {
    background-color: #f8f8f8;
    border-bottom: 0.5px solid #e7e7e7;
    border-radius: 0;
}

.navbar-brand h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin-top:0;
    margin-bottom: 0;
}

#nav-list a {
    text-align: center;
}   

#nav-list a:hover {
    background-color: black;
    opacity: 0.4;
    color: white;
}

#nav-list li {
    border-bottom: 1px solid #e7e7e7;
}
/*********               END-HEADER                 *********/
/*********               MAIN-CONTENT                *********/

#Menu h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row .content {
    background-color: rgb(180, 233, 235);
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.row .content p {
    margin-left: 10px;
    overflow: hidden;
}
/*********               END-MAIN-CONTENT                 *********/